<launch>
    <rosparam command="load" file="$(find parameters)/systemParams.yaml"/>
    <rosparam command="load" file="$(find parameters)/robotParams.yaml"/>
    <rosparam command="load" file="$(find parameters)/ABBparams.yaml"/>
    <node pkg="robot_node" type="robot_node" name="robot_node" output="screen"/>
    <node pkg="cell_node" type="cell_node" name="cell_node" output="screen"/>
    <node pkg="vision" type="getbackground.py" name="getbackground" output="screen"/>    
    <node pkg="vision" type="getworkspace.py" name="getworkspace" output="screen"/>   
    <node pkg="vision" type="recover.py" name="recover" output="screen"/>
</launch>
