<launch>
<machine name="disp_comp" address="192.168.1.7" user="simplehands" password="simplehands"
ros-root="/opt/ros/diamondback/ros/"
ros-package-path="/home/simplehands/Documents/hands:/opt/ros/diamondback/stacks" >
<env name="ROS_MASTER_URI" value="http://192.168.1.4:11311"/>
<env name="ROS_IP" value="192.168.1.7"/>
</machine>

<rosparam command="load" file="$(find parameters)/displayParams.yaml"/>
<node machine="disp_comp" name="display_launcher" type="display_launcher" pkg="display_node" launch-prefix="$(find display_node)/remote_launcher.sh"/>

</launch>
