<!-- -*- mode: xml; -*- -->
<!-- set up to test the palm calibration control without running any robots -->
<!-- see http://www.ros.org/wiki/roslaunch/XML/node -->

<launch>
  <!-- load standard parameters -->
  <rosparam command="load" file="$(find parameters)/systemParams.yaml"/>

  <!-- start the Net F/T driver node -->
  <include file="$(find palm_calibration)/launch/netft.launch" />

  <!-- launch the two calibrator nodes in dry-run mode -->
  <node name="palm_calibration"     type="palm_calibration"    pkg="palm_calibration" output="screen" />
  <node name="calibration_motion"   type="calibration_motion"  pkg="palm_calibration" output="screen" args="--dryrun" />
</launch>

