<!-- -*- mode: xml; -*- -->
<!-- set up to test the ATI mini-40 force sensor on the Net F/T box -->
<!-- see http://www.ros.org/wiki/roslaunch/XML/node -->

<launch>
  <!-- load standard parameters -->
  <rosparam command="load" file="$(find parameters)/systemParams.yaml"/>

  <!-- start the Net F/T driver node -->
  <include file="$(find palm_calibration)/launch/netft.launch" />

  <!-- start a node which simply prints out data -->
  <node name="echo_force"     type="echo_force"    pkg="palm_calibration" output="screen" />
</launch>

